@import "../../scss/styles";

.whiteCard {
    background-color: $white;
    border-radius: 9px;
    width: 86vw;
    height: auto;
    margin: 0 auto 14px auto;
    padding: 14px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-around;

    .wrapperTop {
        display: flex;
    }

    .whiteCardTitle {
        @include h2-style($text-blue);
        margin-bottom: 14px;
        text-align: left;
    }

    .wrapperTopGroup {
        position: relative;
        display: flex;
        border-radius: 9px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
        padding: 0.5rem;
        padding-right: 0;
        margin-bottom: 0.8rem;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 8%;
            background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, #fff);
        }

        .wrapperGroupName {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 0.5rem;
        }

        .wrappperAfter {
            overflow: hidden;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 5%;
                // background: linear-gradient(
                //     268deg,
                //     rgba(255, 255, 255, 0) 0,
                //     #fff
                // );
            }
        }

        .peopleGroup {
            display: flex;
            gap: 0.5rem;
            overflow: scroll;
            padding-right: 0.5rem;

            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
        .peopleGroup::-webkit-scrollbar {
            display: none;
        }

        .groupName {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #f38181;
            border-radius: 50%;
            padding: 0.5rem 0.3rem;
            @include text-style($peach);
        }

        .people {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .profilPic {
            width: 40px;
        }

        .peopleName {
            margin-top: 0.5rem;
            text-align: center;
            font-size: 10px;
        }
    }

    .whiteCardButton {
        background-color: $blue-grey;
        width: auto;
        padding: 5px 30px;
        color: $white;
        font-size: 10px;
        border-radius: 20px;
        cursor: pointer;
    }
}
