@import "./../../scss/styles.scss";


.titleWrap {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
    .chevron {
        margin-left: 0.3rem;
        width: 5px;
        height: auto;
        path {
            fill: $grey-light;
        }
    }
}

.containerAvailableRoom, .containerFreeAccessRoom {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    margin-bottom: 1rem;

    overflow: scroll;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
        
    &::-webkit-scrollbar {
        display: none;
    }

    .availableRoom, .freeAccessRoom {
        padding: 1.7rem;
        background-color: $green-dark;
        border-radius: 9px;
        position: relative;

        p {
            @include h2-style($blue-grey);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.containerFreeAccessRoom {
    margin-bottom: 0rem;
    .freeAccessRoom {
        background-color: $yellow;
    }
}

.dashboardErrorMsg {
    margin-bottom: 1rem;
    font-size: 10px;
}
