@import "../../scss/styles.scss";

.icon {
    &Light {
        margin-left: 10px;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.turnOffLights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 13px;
    align-items: center;
    flex-grow: 1;

    button {
        margin-top: 15px;
    }
}

.slider {
    display: flex;
    justify-content: center;
    svg {
        padding: 30px;
        height: 200px;
    }
}
