@import "../../scss/styles";

.whiteCard {
    background-color: $white;
    border-radius: 9px;
    width: 86vw;
    height: auto;
    margin: 0 auto 14px auto;
    padding: 14px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .leaf {
        width: 30px;
        height: auto;
        margin-bottom: 8px;
    }

    .whiteCardTitle {
        @include h2-style($text-blue);
        margin-bottom: 14px;
        text-align: center;
    }

    .whiteCardButton {
        background-color: $blue-grey;
        width: auto;
        padding: 5px 30px;
        color: $white;
        font-size: 10px;
        border-radius: 20px;
        cursor: pointer;
    }
}
