@import "../../../scss/styles";

.homeSection {
    min-height: 100vh;
    background-color: $grey-background;
    padding-bottom: 50px;
}

/** HEADER **/

.headerHome {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 26px;

    .titleContainer {
        margin-top: 25px;
        margin-left: 20px;

        .title {
            @include h1-style($text-blue);
        }
        .titleBold {
            @include h1-style-stroke($text-blue);
            padding: 0;
        }
    }

    .profilPicture {
        width: 60px;
        height: auto;
        margin: 25px 20px 0 0;
    }
}
