@import "../../scss/styles.scss";

.accordion {
    margin-bottom: 8px;
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.09));

    .title {
        display: flex;
        border-radius: 9px;
        justify-content: space-between;
        align-items: center;
        padding: 6px 12px;
        cursor: pointer;
        transition: border-radius 0.7s ease-in;

        &.green {
            background-color: $green-dark;

            h2 {
                color: $text-green;
            }
        }

        &.yellow {
            background-color: $yellow;

            h2 {
                color: $text-yellow;
            }
        }

        &.red {
            background-color: $peach;

            h2 {
                color: $text-red;
            }
        }

        &.isOpen {
            border-radius: 9px 9px 0 0;
            transition: border-radius 0.7s ease-out;
        }
    }

    .endIcons {
        display: flex;
        align-items: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        background-color: $white;
        max-height: 0;
        border-radius: 0 0 9px 9px;
        overflow: hidden;
        transition: all 1s cubic-bezier(0, 1, 0, 1);

        &.green {
            border: 0px solid $green-dark;
        }

        &.red {
            border: 0px solid $peach;
        }

        &.yellow {
            border: 1px solid $yellow;
            justify-content: center;
            align-items: center;
        }

        &.collapsed {
            max-height: 9999px;
            transition: all 1s cubic-bezier(1, 0, 1, 0);

            &.green {
                border: 1px solid $green-dark;
            }

            &.red {
                border: 1px solid $peach;
            }
        }

        button {
            width: 60%;
            margin-top: 14px;
            align-self: center;

            &.green {
                background-color: $green-dark;
                color: $text-green;
            }

            &.red {
                background-color: $peach;
                color: $text-red;
            }

            &:disabled {
                background-color: $grey-background;
                color: $grey-light;
            }
        }

        .items {
            margin: 12px 8px;
            display: flex;
            flex-direction: column;

            li {
                line-height: 150%;
            }
        }
    }
}
