@import "../../../scss/styles.scss";

.section {
    padding: 21px;
    background-color: $grey-background;
    min-height: 100vh;
    height: auto;

    .filters {
        margin: 8px 0 16px 0;
        display: flex;
    }

    .title {
        margin-bottom: 16px;
        color: $text-blue;
    }

    .filterTitle {
        color: $text-blue;
    }
}
