@font-face {
    font-family: "Silka";
    src: url(../fonts/silka-regular-webfont.ttf) format("trueType");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Silka";
    src: url(../fonts/silka-regularitalic-webfont.ttf) format("trueType");
    font-weight: normal;
    font-style: italic;
}
