@import "./variables";
// mixins

@mixin text-style {
    font-family: $font-family;
}

@mixin h1-style {
    @include text-style;
    font-size: 24px;
}

@mixin p-style {
    @include text-style;
    font-size: 14px;
}
