@import "./variables";
// mixins

@mixin h1-style($color) {
    font-family: $font-family;
    font-weight: normal;
    color: $color;
    font-size: $h1-size;
    padding: 0 0 0 20px;
}

@mixin h1-style-stroke($color) {
    font-family: $font-family;
    font-weight: normal;
    color: $color;
    font-size: $h1-size;
    -webkit-text-stroke: 1px $color;
    letter-spacing: 0.03px;
    padding: 30px 0 24px 20px;
}

@mixin h2-style($color) {
    font-family: $font-family;
    font-weight: normal;
    color: $color;
    font-size: $h2-size;
}

@mixin text-style($color) {
    font-family: $font-family;
    font-weight: normal;
    color: $color;
    font-size: $text-size;
}

@mixin small-text-style($color) {
    font-family: $font-family;
    font-weight: normal;
    color: $color;
    font-size: $small-text-size;
}

@mixin medium-text-style($color) {
    font-family: $font-family;
    font-weight: normal;
    color: $color;
    font-size: $medium-text-size;
}
