// scss variables
@import "./fonts";

$blue-grey: #577590;
$blue_light: #8fb8de;
$yellow: #fce38a;
$peach: #f38181;
$green-light: #e3ffbf;
$green-dark: #95e1d3;
$grey-dark: #616161;
$grey-light: #e0e0e0;

$text: #2e3e4d;
$text-green: #1e3304;
$text-blue: #002d56;
$text-red: #5c0202;

$font-family: "Silka";

$h1-size: 24px;
$h2-size: 14px;
$text-size: 12px;
