// config
@import "scss/config/reset";
@import "scss/global/fonts";
@import "scss/global/medias";
@import "scss/global/mixins";
@import "scss/global/keyframes";

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

button {
    border: none;
    border-radius: 9px;
    height: 24px;
    font-family: $font-family;
}

p {
    @include p-style;
}

h1 {
    @include h1-style;
}

input {
    background-color: $grey-light;
    border: 1px solid $grey-dark;
    border-radius: 9px;
    height: 30px;
    @include text-style;
    color: $grey-dark;
    padding: 10px;
}

label {
    @include text-style;
    font-size: 10px;
    color: $grey-dark;
}
