@import "../../../scss/global/variables";
@import "../../../scss/global/mixins";

.notifications {
    height: 90vh;
    position: relative;
    background-color: $grey-background;

    .title {
        @include h1-style-stroke($text);
    }

    .contentContainer {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 230px;
    }

    .leaf {
        margin-bottom: 30px;
        width: 80px;
        height: auto;
    }

    .textNoNotification {
        @include h2-style($grey-dark);
        line-height: 140%;
    }
}
.notificationNew {
    h2 {
        @include h2-style($text);
        margin: 0 0 14px 20px;
    }

    .notificationCard {
        width: auto;
        height: auto;
        background-color: $white;
        margin: 0 20px 22px 20px;
        padding: 15px 10px;
        border-radius: 9px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);

        .notificationImage {
            width: 45px;
            height: auto;
            margin-right: 5px;
        }
    }

    .cardRoom {
        width: 45px;
        height: 45px;
        background-color: $green-dark;
        border-radius: 9px;
        position: relative;

        p {
            @include h2-style($text-green);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .cardRightBlock {
        width: 80%;

        .cardMessage {
            @include text-style($text);
            padding-bottom: 5px;
        }

        .cardTime {
            @include text-style($blue_light);
        }
    }

    .cardDots {
        position: absolute;
        bottom: 3px;
        right: 10px;
    }
}

.notificationOld {
    h2 {
        @include h2-style($text);
        margin: 0 0 20px 20px;
    }
}

.cardRoomBooked {
    width: 45px;
    height: 45px;
    background-color: $peach;
    border-radius: 9px;
    position: relative;

    p {
        @include h2-style($text-red);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
