@import "../../scss/styles.scss";
.navbar {
    height: 50px;
    width: 100%;
    background-color: $white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: fixed;
    bottom: 0;

    &.dark {
        background-color: black;
    }
}

.switch {
    display: flex;
    padding-right: 20px;
    align-items: center;
}
